@font-face {
    font-family: 'nt-epika';
    font-weight: 300;
    src: url('../fonts/nt-epika-thin.otf');
}
@font-face {
    font-family: 'nt-epika';
    font-weight: 400;
    src: url('../fonts/nt-epika-regular.otf');
}
@font-face {
    font-family: 'nt-epika';
    font-weight: 500;
    src: url('../fonts/nt-epika-medium.otf');
}
@font-face {
    font-family: 'nt-epika';
    font-weight: 600;
    src: url('../fonts/nt-epika-bold.otf');
}