@use "fonts";
@use "variables" as v;
@use "base";
@use "breakpoints" as b;

.preamble {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  .supporting {
    grid-row-gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
    position: relative;
  }

